html
  head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
    link(rel="shortcut icon" type="image/png" href="/images/favicon.png")
  body
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
      img(src="/images/logo.png" width="64" height="64")
      a.navbar-brand(href='/') BOOKS - STORE
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/books') Books
        li.nav-item
          a.nav-link(href='/users') Users
        li.nav-item
          a.nav-link(href='/transactions') Transactions
    .container
      block content
      