extends ./layouts/common
block content

  nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
    img(src="/images/logo.png" width="64" height="64")
    a.navbar-brand(href='#') BOOKS - STORE
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/books') Books
      li.nav-item
        a.nav-link(href='/users') Users
      li.nav-item
        a.nav-link(href='/transactions') Transactions

  