
extends ../layouts/common
block content

  h2.text-center.mt-5 List users
  a.btn.btn-primary(href="/users/create") New a user


  table.table
    tr
      th Name
      th Phone
      th Actions
    each user in users
      tr
        td= user.name
        td= user.phone
        td
          a.btn.btn-primary.ml-3(href="/users/view/" + user.id) View
          a.btn.btn-primary.ml-3(href="/users/update/" + user.id) Update 
          a.btn.btn-primary.ml-3(href="/users/delete/" + user.id) Delete 