h2 Hello users
a(href="/users/create") New a user

ul
  each user in users
    li
      span Name : 
      span &nbsp
      span= user.name
      span &nbsp
      a(href="/users/view/" + user.id) View user
      span &nbsp
      a(href="/users/update/" + user.id) Update user
      span &nbsp
      a(href="/users/delete/" + user.id) Delete user